.campus-wrap-all{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    background-image: url(../../public/img/home-bg-img);
    background-size: cover;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: 3rem 1fr;
}
.campus-wrap-all h1{
    margin: 0px 0px 10px 0px;
    font-weight: 400;
}
.campus-wrap-all .campus-top-item{
    grid-area: 1/1/2/5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.campus-wrap-all .campus-left-item{
    height: 100vh;
    position: sticky;
    top: 0;
    grid-area: 2/1/3/2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campus-wrap-all .campus-center-item{
    grid-area: 2/2/3/4;
}
.campus-wrap-all .campus-right-item{
    height: 100vh;
    position: sticky;
    top: 0;
    grid-area: 2/4/3/5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campus-wrap-all .campus-top-item .bullet{
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
}
.campus-wrap-all .campus-top-item .bullet.active{
    background-color: #000;
}
.campus-wrap-all .campus-left-item i{
    font-size: 2rem;
    cursor: pointer;
}
.campus-wrap-all .campus-left-item i:hover{
    color: limegreen;
}
.campus-wrap-all .campus-right-item i{
    font-size: 2rem;
    cursor: pointer;
}
.campus-wrap-all .campus-right-item i:hover{
    color: limegreen;
}
.kenta-wrap-all{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.kenta-wrap-all .kenta-content-box{
    background-color: #fff;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.kenta-wrap-all .kenta-content-box .kenta-img-box-login{
    background-color: gray;
    background-image: url(../../public/img/kenta-login.png);
    background-size: cover;
    background-position-x: center;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}
.kenta-wrap-all .kenta-content-box .kenta-img-box-regis{
    background-color: gray;
    background-image: url(../../public/img/kenta-regis.png);
    background-size: cover;
    background-position-x: center;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}
.kenta-wrap-all .kenta-content-box .kenta-img-box-data{
    background-color: gray;
    background-image: url(../../public/img/kenta-data.png);
    background-size: cover;
    background-position-x: center;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}
.kenta-wrap-all .kenta-content-box .kenta-img-box-dashBoard{
    background-color: transparent;
    background-image: url(../../public/img/kenta-dashBord.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 50%;
    width: 50%;
    border-radius: 10px;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    color: #000;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid{
    margin: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item1{
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item1.active{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item2{
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item2.active{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item2:hover{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item3{
    grid-area: 1/3/2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item3.active{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item3:hover{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item4{
    grid-area: 1/4/2/5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item4.active{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item4:hover{
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box .text-box-grid .text-box-item5{
    grid-area: 2/1/3/5;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.item5-content-box{
    padding: 20px;
}
.robot-wrap-all .robot-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.robot-wrap-all .robot-img-box img{
    width: 80%;
    height: auto;
}
.robot-wrap-all .robot-wrap-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.robot-wrap-all .robot-wrap-link a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.robot-wrap-all .robot-wrap-link a:hover{
    text-decoration: none;
    color: #000;
}