.campus-wrap-all{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    background-image: url(../../public/img/home-bg-img);
    background-size: cover;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: 2rem 1fr;
}
.campus-wrap-all h1{
    margin: 0px 0px 10px 0px;
    font-weight: 400;
}
.campus-wrap-all .campus-top-item{
    grid-area: 1/1/2/5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.campus-wrap-all .campus-left-item{
    height: 100vh;
    position: sticky;
    top: 0;
    grid-area: 2/1/3/2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campus-wrap-all .campus-center-item{
    grid-area: 2/2/3/4;
}
.campus-wrap-all .campus-right-item{
    height: 100vh;
    position: sticky;
    top: 0;
    grid-area: 2/4/3/5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campus-wrap-all .campus-top-item .bullet{
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
}
.campus-wrap-all .campus-top-item .bullet.active{
    background-color: #000;
}
.campus-wrap-all .campus-left-item i{
    font-size: 2rem;
    cursor: pointer;
}
.campus-wrap-all .campus-left-item i:hover{
    color: limegreen;
}
.campus-wrap-all .campus-right-item i{
    font-size: 2rem;
    cursor: pointer;
}
.campus-wrap-all .campus-right-item i:hover{
    color: limegreen;
}
.kenta-wrap-all{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.kenta-wrap-all .kenta-content-box{
    background-color: #fff;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.kenta-wrap-all .kenta-content-box .kenta-img-box-login{
    background-color: gray;
    background-image: url(../../public/img/kenta-login.png);
    background-size: cover;
    background-position-x: center;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}
.kenta-wrap-all .kenta-content-box .kenta-text-box{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    color: #000;
}