.App {
  width: 100%;
  height: auto;
  background-color: aliceblue;
}

.App nav{
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
}

.App nav ul{
  display: flex;
  margin: 0;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.App nav ul li{
  list-style: none;
  cursor: pointer;
}

.App nav ul li:hover{
  color: lime;
}

.App nav .nav-home{
  font-size: large;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
